
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: aqua; */
}

body {
    background: url("./images/retro-living-room-interior-design-c362cb6e-f482-4ca4-97bf-0b845c268977.jpg");
    /* min-height: 100%; */
    background-repeat: no-repeat;
    /* width: 100%;
    height: auto; */
    background-size: cover;
    /* max-width: 100%; */
    overflow: hidden;
}

/* --navbsr--- */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 4rem;
    font-size: 1.2rem;
    color: rgb(239, 225, 225);
}

.logo {

    font-size: 2rem;
    font-weight: bold;
    width: 100px;
    line-height: 1.1;

}

.list-items {

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
    font-weight: 500;
}


.list-items::after {
    position: absolute;
    bottom: -25px;
    right: -1px;
    content: "";
    height: 2px;
    border-bottom: 3px solid rgb(235, 224, 224);
    width: 100%;
}

.list-items li:last-child {
    position: relative;
    margin-left: 40px;
}

.phone-svg svg {
    position: absolute;
    width: 180%;
    left: -227px;
    top: -40px;
}

.phone-svg svg path {
    fill: rgb(248, 239, 239);
}

/* ---hero section--- */
.hero-section h1 {

    font-size: 5rem;
    width: 900px;
    margin-top: 12rem;
    margin-left: 7rem;
    color: #fff;

}

.btn {

    background: none;
    border: 4px solid rgb(226, 219, 219);
    border-radius: 5rem;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(233, 220, 220);
    margin-left: 7rem;
    margin-top: 3rem;
    padding: 2rem 6rem;
}

/* ---card section--- */
.card {
    width: 300px;
    height: 200px;
    padding: 2rem;
    background: #f3eded84;
    position: absolute;
    box-shadow: 0 3px 5px #0000004c;
    opacity: 0.6;
}

.card-puzzle {
    position: absolute;
    top: 12rem;
    right: 10rem;
    height: 11rem;
}

.card-light {
    position: absolute;
    bottom: 5rem;
    right: 15rem;
    margin-right: 11rem;

}

.card-light .line {
    position: absolute;
    top: 30px;
    left: 298px;
}

.icon-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 5rem;
    background: #fff;
}

.desc {
    position: absolute;
    margin-right: 1rem;
    bottom: 2rem;
    font-weight: 600;
}

.card-puzzle .line {
    position: absolute;
    bottom: -67px;
    right: 20px;
    transform: rotate(90deg);
}